/*================================================================================
	Item Name: Vuesax HTML Admin Template
	Version: 1.1
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
.containerNew {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  
.overlayNew {
    display:none;
    position:absolute;
    bottom:0;
    text-align:center;
    width:200px;
    height:100px; /* Half of the container */
    line-height:100px;
    background-color:rgba(255,255,255,0.5);
  }

  .containerNew:hover .overlayNew {
    opacity: 1;
  }

  .pagination{
    float: right !important;
  }
  /* input[type='file']
    {
        text-indent: -999em !important;
        margin-top: 7px;
        border-color: #7367f0;
        background-color: #7367f0;
         outline: none;
         width: 100%; 
       height: 100%; 
        position: absolute; 
    } */

    /* .customButtonStyle {
      position: absolute;
    display: inline-block;
    margin-left: -66px;
    margin-bottom: -6px;
    margin-top: 81px;
    } */

    /* upload button */
    /* .file-upload input[type='file'] {
      display: none;
    }
    .custom-file-label.rounded-pill {
      border-radius: 50rem;
    }
    
    .custom-file-label.rounded-pill::after {
      border-radius: 0 50rem 50rem 0;
    } */